# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*ssh-keys

node_modules
dist
dist-ssr
*/mongo_data/
*/redis_data/
*/neo4j_data/
*/neo4j_logs/
*.local

# Env
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# deploy
deploy.config
chatitalia-api/uploads/
chatitalia-api/redis_data/
chatitalia-api/neo4j_data/
chatitalia-api/neo4j_logs/
chatitalia-api/model_cache/
chatitalia-api/.model-cache/
chatitalia-api/models/
